a {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding-left: 40px;
}

.authgroup {
  margin-right: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
